<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Skills</title>
		<meta name="author" content="Nate">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="scripts.js"></script>
		<link rel="stylesheet" href="styles.css">
	</head>

	<body>
	<img id='nameLogo' src='Nathanial-Lubitz.png'>
	<!--Image obtained from textcraft.net. I really appreciate their service!-->
		<nav>
			<ul id='homeNav'><a href="index.html">Home</a></ul>
			<ul id='skillsNav'><a href="skills.html">Skills</a></ul>
			<ul id='portfolioNav'><a href="/posts">Portfolio</a></ul>
			<ul id='contactNav'><a href="contact.html">Contact Me</a></ul>
		</nav>
<h1>These are some of my portfolio Projects</h1>
<p><%=@content_first%></p>
</body>
</html>
