@media screen and (min-width: 500px) {
.intro{
	text-align: center;
	padding: 16px;
	margin: 10px;

}	


.navigate{
	background-color: #0033FF;
    color:white;
    padding: 16px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    display: inline-block;
	border-radius: 10px;
	
    }
   h3, h1{
   	text-align: center;
   	font-size: 2em;
   }
   .navigate:hover{
    	background-color: #099FFF;
    }
    #skillAndroid, #skillApple, #skillGit, #skillROR, #skillServer, #skillWeb, #skillWindows{
    	cursor: pointer;
    }
    #resume{
    	background-color: #f44336;
    	color:white;
    	padding: 16px;
    	font-size: 20px;
    	border: none;
    	cursor: pointer;
    	display: inline-block;
    	transition: all 0.4s ease-in-out;
    	text-decoration: none;
    }
    #area{
    	display: inline-block;
    	width: 100%;
    	color: black;
		background: #FFC107;
		background: linear-gradient(to right, #FFC107, #FF5722);
    	border-radius: 0px 0px 10px 10px;
    	}
    #skillSet{
    	width: 50%;
    	float: left;
    	padding: 2%;
    	background-color: #FFC107;
    	border-radius: 5%;
    	margin: 0%;
    	color: black;
    }
    #info{
    	width: 39%;
    	float: right;
    	padding: 2%;
    	margin: 0%;
    	background-color: #FF5722;
    	border-radius: 10px;
    	color: black;
    	font-size: 1.5em;
    }
    #resume:hover{
    	background-color: #e53935;
    	box-shadow: 5px 5px 0px 0px #b71c1c;
    }
    #nameLogo{width: 100%;}
    nav{
    	text-align: center;

    }
    a{
    	text-decoration: none;
    	color: white;
    }
    html{
    	background-color: black;
    	color: #33FF00;
    }
    p, li{
    	font-size: 1.5em;
    }
body{
	width: 80%;
	margin: 0 auto;
	padding: 32px;
	}

#postTitle{
	background-color:#FF7043;
	float: left;
	display: inline-block;
	padding: 16px;
}
#postTime{
	background-color:#FF7043;
	display: inline-block;
	padding: 8px;
	float: right;
}
#postContent{
	background-color: #795548;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
}

#myPic{
	width: 200px;
	height: 350px;
	border-radius: 10px;
}
#cornerA{
	width: 30%;
	min-height: 400px;
	float: left;
}
#cornerB{
	width: 40%;
	min-height: 400px;
	float: left;
}
#cornerC{
	width: 30%;
	min-height: 400px;
	float: left;
}


}
@media screen and (max-width: 500px) {
	
	html, body {
	font: 14px/20px sans-serif;
	width: 100%;
	background: #fff;
	padding: 3px;
	color: #000;
	margin: 0;
	}
	#homeNav, #contactNav, #portfolioNav, #skillsNav, #backNav, #nextPost, #previousPost{
	background-color: #90caf9;
    color:white;
    min-width: 15%;
    padding: 16px;
    font-size: 2em;
    height: 100%;
    border: none;
    cursor: pointer;
    display: inline-block;
	border-radius: 10px;
	transition: all 0.4s ease-in-out;	
    }
    #homeNav:hover, #contactNav:hover, #portfolioNav:hover, #skillsNav:hover, #backnav:hover, #nextPost:hover, #previousPost:hover{
    	background-color: #1976d2;
    	box-shadow: 5px 5px 0px 0px #0d47a1;
    	color: red;
    }
    h3{
    	font-size: 2em;
    	text-align: center;
    }
        #resume:hover{
    	background-color: #e53935;
    	box-shadow: 5px 5px 0px 0px #b71c1c;
    }
    #nameLogo{width: 100%;}
    nav{
    	text-align: center;
    }
    a{
    	text-decoration: none;
    }
    #postAndDetails{
	background-color: #D7CCC8;
}
#area{
	font-size: 2em;
	line-height: 2;
	background-color: lightblue;
	border-radius: 10px;
}
#postTitle{
	background-color:#FF7043;
	float: left;
	display: inline-block;
	padding: 16px;
}
#postTime{
	background-color:#FF7043;
	display: inline-block;
	padding: 8px;
	float: right;
}
#postContent{
	background-color: #795548;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
}
#myPic{
	display: block;
margin-left: auto;
margin-right: auto;
	width: 175px;
	height: 300px;
}
p{font-size: 24px;
line-height: 2;}
h4{font-size: 30px;
text-align: center;}
li{
	font-size: 24px;;
	line-height: 2;
}
}